/* stylesheet/OpportunityCard.css */
.opportunity-card-container {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    width: 20rem; /* Adjust based on your design */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    height: 32rem; /* Fixed height for consistent cards */
}

.opportunity-card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.opportunity-card-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Allow content to grow */
    position: relative; /* Create positioning context */
    height: calc(100% - 200px); /* Adjust content height to account for image height */
}

.opportunity-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.opportunity-card-organization {
    color: #000;
    font-family: Montserrat,sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.opportunity-card-location {
    display: flex;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

.opportunity-card-location p {
    color: #5F5F5F;
    font-family: Inter, sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.opportunity-card-location-icon {
    margin-right: 0.5rem;
}

.opportunity-card-description {
    display: flex;
    margin-bottom: 1rem;
}

.opportunity-card-description p {
    color: #5F5F5F;
    font-family: Inter, sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* Add text truncation for long descriptions */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Show 4 lines max */
    -webkit-box-orient: vertical;
}

.opportunity-card-description-icon {
    margin-right: 0.5rem;
    flex-shrink: 0; /* Prevent icon from shrinking */
}

.opportunity-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 2rem); /* Account for left and right padding */
    padding-top: 0.5rem;
    border-top: 1px solid #f0f0f0; /* Optional: adds a subtle separator */
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.opportunity-card-timestamp {
    font-size: 0.8rem;
    color: #999;
    margin: 0;
}

.opportunity-card-share-icon {
    width: 20px; /* Reduced size from 20px */
    height: 20px; /* Reduced size from 20px */
    cursor: pointer;
}