.story-form-form-container {
    width: 75%;
    margin: auto;
    padding: 40px;
    background: #fff;
    border-radius: 8px;
    border: 2px solid #D9D9D9;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.story-form-form-container {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}


.story-form-progress-indicator {
    justify-content: center;
    display: flex;
    margin-bottom: 25px;
}


.story-form-tagline {
    margin-top: 35px;
}

.story-form {
    margin-bottom: 20px;
    margin-top: 10px;
}

@media (max-width: 768px) {


    .story-form {
        width: 90%;
        padding: 20px;
    }


    .story-form-tagline {
        font-size: 1.3rem;
    }
}

