.volunteer-hero-section-container {
    display: flex;
    flex-direction: column;
    padding-top: 7rem;
    padding-left: 5rem;
    gap: 3rem;
}

.volunteer-hero-section-text-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    gap: 1rem;
}

.volunteer-hero-section-text-container h3 {
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.volunteer-hero-section-text-container h1 {
    width: 40.1875rem;
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Media Query for mobile devices */
@media screen and (max-width: 768px) {
    .volunteer-hero-section-container {
        display: flex;
        flex-direction: column;
        padding-top: 7rem;
        padding-left: 5rem;
        gap: 3rem;
    }

    .volunteer-hero-section-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /*align-items: center;*/
        margin-top: 10rem;
        text-align: left;
        gap: 1rem;
        /* Reduced gap */
    }

    .volunteer-hero-section-text-container h3 {
        font-size: 1.25rem; /* Reduced font size */
    }

    .volunteer-hero-section-text-container h1 {
        width: 100%; /* Full width instead of fixed */
        font-size: 2.5rem; /* Reduced font size */
    }
}

/* Additional breakpoint for very small screens */
@media screen and (max-width: 480px) {
    .volunteer-hero-section-container {
        padding-top: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 1.5rem;
    }

    .volunteer-hero-section-text-container {
        display: flex;
        flex-direction: column;
        justify-content: left;
        text-align: left;
        gap: 1rem;
    }

    .volunteer-hero-section-text-container h3 {
        font-size: 1rem;
    }

    .volunteer-hero-section-text-container h1 {
        font-size: 2rem;
    }
}