.contact-form-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    /*max-width: 600px;*/
    margin: 0 auto;
    width: 37.375rem;
    height: 36.125rem;
    border-radius: 1rem;
    border: 2px solid rgba(217, 217, 217, 0.70);
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.15);
}

.contact-form {
    /*background-color: #f9f9f9;*/
    padding: 20px;
    /*border-radius: 10px;*/
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.75rem;
}

.contact-form-group {
    margin-bottom: 15px;
    width: 100%;
}

.contact-form-input,
.contact-form-textarea {
    width: 100%;
    padding: 10px;
    border-radius: 0.5rem;
    /*font-size: 16px;*/
    /*color: #333;*/
    border: 1px solid #D6D6D6;
    background: #F5F5F5;
    color: #4B4B4B;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.contact-form-input::placeholder,
.contact-form-textarea::placeholder {
    color: #4B4B4B;
    font-family: Montserrat,sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.contact-form-textarea {
    resize: none;
}

.contact-form-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-form-submit {
    border-radius: 0.5rem;
    background: #E46C43; /* Orange color from the image */
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.contact-form-submit:hover {
    background-color: #C95A34;
    cursor: pointer;
}

.contact-form-privacy {
    font-size: 14px;
    color: #4CAF50; /* Green color for the privacy text */
    margin: 0;
}

/* Responsive design */
/*@media (min-width: 768px) {*/
/*    .contact-form-footer {*/
/*        flex-direction: row;*/
/*        align-items: center;*/
/*        justify-content: space-between;*/
/*    }*/

/*    .contact-form-submit {*/
/*        margin-bottom: 0;*/
/*    }*/
/*}*/